{% extends 'base.html' %}

{% block header %}
<h1>{% block title %} Register {% endblock %}</h1>
{% endblock %}

{% block content %}
<form method="post">
  <label for="username">Username</label>
  <input id="username" name="username" required>
  <label for="password">password</label>
  <input type="password" name="password" id="password" required>
  <input type="submit" value="Register">
</form>
{% endblock %}
